@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Macondo", cursive;
  background-color: rgb(53, 51, 51);
  color: #fff;
}

$color-header-footer: rgb(15, 14, 14);
$icon-color: rgb(228, 7, 228);
$border-radius: 10px;

@for $i from 1 through 9 {
  main div:nth-child(#{$i}) {
    background-image: url("../images/student-#{$i}.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: $border-radius;
  }
}

@mixin header-footer {
  background-color: $color-header-footer;
  width: 100%;
  padding: 2rem;
}

@mixin display-flex($align) {
  display: flex;
  justify-content: space-between;
  align-items: $align;
}

header {
  @include header-footer;
  text-align: center;
  position: fixed;
  top: 0;
}

footer {
  @include header-footer;
  @include display-flex(center);
  position: fixed;
  bottom: 0;
  text-align: center;

  i {
    color: $icon-color;
  }

  input {
    background-color: red;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  margin-top: 10rem;

  div {
    background-color: red;
    margin: 1rem;
  }
}
